#menu-modestox-core-root >a::before {
    content: 'MX';
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: -1px;
    color: #eb5202;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border: 2px solid #eb5202;
    border-radius: 4px;
    padding: 3px 5px 2px;
    margin: 0;
    height: max-content;
    margin-bottom: 0.5rem;
}

