<?xml version="1.0"?>
<!--
/**
 * Copyright © 2026 Modestox (https://github.com/modestox). All rights reserved.
 * License: MIT
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="modestox_marquee_listing_data_source" xsi:type="string">Modestox\Marquee\Model\ResourceModel\Marquee\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Modestox\Marquee\Model\ResourceModel\Marquee\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">modestox_marquee</argument>
            <argument name="resourceModel" xsi:type="string">Modestox\Marquee\Model\ResourceModel\Marquee</argument>
        </arguments>
    </virtualType>
</config>
